Package: mission-data-recorder
Version: VERSION
Maintainer: Jari Nippula <jarix@ssrc.tii.ae>
Architecture: amd64
Description: Mission data recorder for drone
Depends: ca-certificates, ros-foxy-ros-core, ros-foxy-ros2bag, ros-foxy-rosbag2
